body {
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  background-image: url('testbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#random-position-button {
  z-index: 100;
  border: none;
  background-color: #01F704;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}


.tile {
  /* position: relative;
  vertical-align: top; */
  display: inline-block;
  /* width: 100%;
  height: 800%;
  box-sizing: border-box; */
}

/* .tile:after {
  top: 100%;
  right: 0px;
  z-index: 2;
} */

/*-- no grid --*/

/* .noGrid .tile {
  border-right: 0px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}

.noGrid .tile:after {
  content: none;
} */


@media only screen and (min-width: 1900px) {}