* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  background: url('testbg.png');
  text-align: center;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

:root {
  --facebook: tomato
}

.wrap-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

ul {
  margin-top: 1rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* transition: all 0.9s ease-out; */
}

li {
  width: 10rem;
  height: 10rem;
  background: url('pattern400x400.png');
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: 40rem;
  /* transition: all 0.9s ease-out; */
}

.list0 {
  background-position-x: 0px;
  background-position-y: 0px;
}

.list1 {
  background-position-x: -10rem;
  background-position-y: 0px;
}

.list2 {
  background-position-x: -20rem;
  background-position-y: 0px;
}

.list3 {
  background-position-x: -30rem;
  background-position-y: 0px;
}

.list4 {
  background-position-x: 0px;
  background-position-y: -10rem;
}

.list5 {
  background-position-x: -10rem;
  background-position-y: -10rem;
}

.list6 {
  background-position-x: -20rem;
  background-position-y: -10rem;
}

.list7 {
  background-position-x: -30rem;
  background-position-y: -10rem;
}

.list8 {
  background-position-x: 0px;
  background-position-y: -20rem;
}

.list9 {
  background-position-x: -10rem;
  background-position-y: -20rem;
}

.list10 {
  background-position-x: -20rem;
  background-position-y: -20rem;
}

.list11 {
  background-position-x: -30rem;
  background-position-y: -20rem;
}

.list12 {
  background-position-x: 0px;
  background-position-y: -30rem;
}

.list13 {
  background-position-x: -10rem;
  background-position-y: -30rem;
}

.list14 {
  background-position-x: -20rem;
  background-position-y: -30rem;
}

.list15 {
  background-position-x: -30rem;
  background-position-y: -30rem;
}